body {
    padding: 0;
    margin: 0;
    background: #476b3e;
}

#sketch {
    display: inline-block;
}

#table {
    display: none;
}

#key {
    display: block;
}

td, th {
    border: 1px solid black;
}
