body {
    padding: 0;
    margin: 0;
    background: #738c4f;      /* #49635e; */
    height: 100%;
    font-family: "Quicksand";
    font-weight: 100;
    font-size: 25px;
}

canvas {
    border-left: 5px solid #3f6b40;    /*#49635e; /*a2d183*/  /*738c4f*/
}

.col-4 {
    height: 100%;
    overflow: auto;
}

#info_box {
    width: inherit;
    height: 97vh;
    overflow-y: scroll;
}

#slider_div {
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.container-fluid, .container {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


#debug_info {
    background: #a2d183;
    border: 3px solid #6a8956;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
}

#top_row {
    margin-top: 5%;
    margin-bottom: 5%;
}

.debug {
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#org_table {
    border: 1px solid black;
    height: 100%;
    font-size: 17px;
    align-self: center;
}

tr, th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background: #a2d183;
}

th {
    background: #3f6b40;
    color: white;
}
