body {
    padding: 0;
    margin: 0;
    background: #49635e;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch {

}

#table {
    display: none;
}

#key {

}

td, th {
    border: 1px solid black;
}
